{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm Account</title>
</head>
<body>
    An email was sent to <span id="user-email">{{request.session.email}}</span> Please check your inbox or spam to activate your account. <br>

    Didn't receive? 

    <form id="resend-form">
        {% csrf_token %}
        <button>
            Resend email.
        </button>
    </form>

    <div class="feedback" id="feedback"></div>
    <script type="module" src="{% static 'js/confirm_email.js' %}"></script>
</body>
</html>