{% extends 'base.html' %}
{% load static %}
{% block title %} Set new password {% endblock %}

{% block content %}
<form>
    {% csrf_token %}
    <input type="password" name="password" id="password" placeholder="Please enter password." required> <br><br>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Please confirm password." required><br><br>
    <input type="submit" value="Set new password" id="submit" name="submit">
</form>

<script type="module" src="{% static 'js/set_new_password.js' %}"></script>
{% endblock %}